{# templates/authorization_and_authentication/register.html #}
{% extends 'authorization_and_authentication/base_auth.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }} {# Renders registration form fields #}

    <div class="d-grid mt-3">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>
{% endblock %}

{% block footer %}
<div class="footer-note">
    Already have an account?
    <a href="{% url 'login' %}">Login here</a>
</div>
{% endblock %}
